// *** COLOURS *** //

$nocturine: #a98086;
$cunninghamella: #566f0c;
$vostok: #a67847;
$entropia: #616a65;
$devonian: #99aac6;
$obrovsky: #b34a53;

// *** FONTS *** //

$sans: 'Maven Pro', sans-serif;
$serif: 'Roboto Slab', serif;

// *** SIZES *** //
